adf-businfo702-viye279/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-businfo702-viye279"
		},
		"DB_Azure_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DB_Azure'"
		},
		"DW_Azure_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DW_Azure'"
		},
		"csv_folder_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'csv_folder'"
		},
		"Bank_Dataset_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sabusinfo702viye279.blob.core.windows.net/c-businfo702/Bank_Dataset.json"
		},
		"BostonHousing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sabusinfo702viye279.blob.core.windows.net/c-businfo702/BostonHousing.xlsx"
		},
		"DB_Azure_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlsvr-uoa-businfo702.database.windows.net"
		},
		"DB_Azure_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "BUSINFO_702_2026_Q1"
		},
		"DB_Azure_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "businfo702"
		},
		"DW_Azure_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlsvr-uoa-viye279.database.windows.net"
		},
		"DW_Azure_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DW_BUSINFO_702"
		},
		"DW_Azure_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "u_businfo702_project"
		},
		"iris_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sabusinfo702viye279.blob.core.windows.net/c-businfo702/iris.csv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ETL_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_DimProduct",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_DimDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_DimProduct",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NWProduct": {},
									"NWCategory": {},
									"NWSupplier": {},
									"DWDimProduct": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_DimCustomer",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_DimDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_DimCustomer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NWCustomer": {},
									"CSVCountryLanguage": {},
									"DWDimCustomer": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_DimDate",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_DimDate",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DimDate": {},
									"DWDimDate": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_FactSale",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_DimProduct",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "df_DimCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_FactSale",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NWOrderSummary": {},
									"DWFactSale": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-25T02:17:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_DimProduct')]",
				"[concat(variables('factoryId'), '/dataflows/df_DimCustomer')]",
				"[concat(variables('factoryId'), '/dataflows/df_DimDate')]",
				"[concat(variables('factoryId'), '/dataflows/df_FactSale')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/task_Bank_Dataset')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_epe",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "dbo.Bank_Dataset"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['ID']"
										},
										"sink": {
											"name": "ID",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['Age']"
										},
										"sink": {
											"name": "Age",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['Experience']"
										},
										"sink": {
											"name": "Experience",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['Income']"
										},
										"sink": {
											"name": "Income",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['ZIP Code']"
										},
										"sink": {
											"name": "ZIP Code",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_epe",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_epe",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T22:31:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_epe')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_epe')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/task_BostonHousing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_9ib",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "dbo.BostonHousing"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "crim",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "crim",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "zn",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "indus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "chas",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "chas",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "nox",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nox",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "rm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dis",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dis",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "rad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rad",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ptratio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ptratio",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "b",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "b",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "lstat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lstat",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "medv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "medv",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_9ib",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_9ib",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T22:23:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_9ib')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_9ib')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/task_Northwind')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_ejs",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_ejs",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "Northwind.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "Northwind.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_ejs",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_ejs",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Categories"
								},
								"destination": {
									"table": "Categories"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "CategoryID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CategoryID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "CategoryName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "CategoryName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String",
													"physicalType": "ntext"
												},
												"sink": {
													"name": "Description",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Picture",
													"type": "Byte[]",
													"physicalType": "image"
												},
												"sink": {
													"name": "Picture",
													"type": "Byte[]",
													"physicalType": "varbinary"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Products"
								},
								"destination": {
									"table": "Products"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "ProductID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "ProductName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ProductName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "SupplierID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SupplierID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "CategoryID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "CategoryID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "QuantityPerUnit",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "QuantityPerUnit",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "UnitPrice",
													"type": "Decimal",
													"physicalType": "money",
													"scale": 4,
													"precision": 19
												},
												"sink": {
													"name": "UnitPrice",
													"type": "Decimal",
													"physicalType": "decimal"
												}
											},
											{
												"source": {
													"name": "UnitsInStock",
													"type": "Int16",
													"physicalType": "smallint"
												},
												"sink": {
													"name": "UnitsInStock",
													"type": "Int16",
													"physicalType": "smallint"
												}
											},
											{
												"source": {
													"name": "UnitsOnOrder",
													"type": "Int16",
													"physicalType": "smallint"
												},
												"sink": {
													"name": "UnitsOnOrder",
													"type": "Int16",
													"physicalType": "smallint"
												}
											},
											{
												"source": {
													"name": "ReorderLevel",
													"type": "Int16",
													"physicalType": "smallint"
												},
												"sink": {
													"name": "ReorderLevel",
													"type": "Int16",
													"physicalType": "smallint"
												}
											},
											{
												"source": {
													"name": "Discontinued",
													"type": "Boolean",
													"physicalType": "bit"
												},
												"sink": {
													"name": "Discontinued",
													"type": "Boolean",
													"physicalType": "bit"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "Suppliers"
								},
								"destination": {
									"table": "Suppliers"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SupplierID",
													"type": "Int32",
													"physicalType": "int"
												},
												"sink": {
													"name": "SupplierID",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "CompanyName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "CompanyName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "ContactName",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ContactName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "ContactTitle",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "ContactTitle",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Address",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Address",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "City",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "City",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Region",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Region",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "PostalCode",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "PostalCode",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Country",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Country",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Phone",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Phone",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "Fax",
													"type": "String",
													"physicalType": "nvarchar"
												},
												"sink": {
													"name": "Fax",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "HomePage",
													"type": "String",
													"physicalType": "ntext"
												},
												"sink": {
													"name": "HomePage",
													"type": "String",
													"physicalType": "nvarchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T22:19:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_ejs')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_ejs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/task_iris')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_1ws",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "dbo.iris"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sepal.length",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sepal.length",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "sepal.width",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sepal.width",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "petal.length",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "petal.length",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "petal.width",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "petal.width",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "variety",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "variety",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_1ws",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_1ws",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-01T22:14:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_1ws')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_1ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_1ws')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "iris"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_6kt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "iris"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_9ib')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BostonHousing"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_c3e')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Northwind",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_ejs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Northwind",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_epe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bank_Dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_mzt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DW_Azure",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BostonHousing"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_1ws')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iris",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sepal.length",
						"type": "String"
					},
					{
						"name": "sepal.width",
						"type": "String"
					},
					{
						"name": "petal.length",
						"type": "String"
					},
					{
						"name": "petal.width",
						"type": "String"
					},
					{
						"name": "variety",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iris')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_6kt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iris",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sepal.length",
						"type": "String"
					},
					{
						"name": "sepal.width",
						"type": "String"
					},
					{
						"name": "petal.length",
						"type": "String"
					},
					{
						"name": "petal.width",
						"type": "String"
					},
					{
						"name": "variety",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iris')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_9ib')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BostonHousing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "BostonHousing",
					"location": {
						"type": "HttpServerLocation"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "crim",
						"type": "String"
					},
					{
						"name": "zn",
						"type": "String"
					},
					{
						"name": "indus",
						"type": "String"
					},
					{
						"name": "chas",
						"type": "String"
					},
					{
						"name": "nox",
						"type": "String"
					},
					{
						"name": "rm",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "dis",
						"type": "String"
					},
					{
						"name": "rad",
						"type": "String"
					},
					{
						"name": "tax",
						"type": "String"
					},
					{
						"name": "ptratio",
						"type": "String"
					},
					{
						"name": "b",
						"type": "String"
					},
					{
						"name": "lstat",
						"type": "String"
					},
					{
						"name": "medv",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BostonHousing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_c3e')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Azure",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Northwind",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ejs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Azure",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Northwind",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_epe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Bank_Dataset",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ID": {
							"type": "integer"
						},
						"Age": {
							"type": "integer"
						},
						"Experience": {
							"type": "integer"
						},
						"Income": {
							"type": "integer"
						},
						"ZIP Code": {
							"type": "integer"
						},
						"Family": {
							"type": "integer"
						},
						"CCAvg": {
							"type": "number"
						},
						"Education": {
							"type": "integer"
						},
						"Mortgage": {
							"type": "integer"
						},
						"Personal Loan": {
							"type": "integer"
						},
						"Securities Account": {
							"type": "integer"
						},
						"CD Account": {
							"type": "integer"
						},
						"Online": {
							"type": "integer"
						},
						"Credit Card": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Bank_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_mzt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BostonHousing",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "BostonHousing",
					"location": {
						"type": "HttpServerLocation"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "crim",
						"type": "String"
					},
					{
						"name": "zn",
						"type": "String"
					},
					{
						"name": "indus",
						"type": "String"
					},
					{
						"name": "chas",
						"type": "String"
					},
					{
						"name": "nox",
						"type": "String"
					},
					{
						"name": "rm",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "dis",
						"type": "String"
					},
					{
						"name": "rad",
						"type": "String"
					},
					{
						"name": "tax",
						"type": "String"
					},
					{
						"name": "ptratio",
						"type": "String"
					},
					{
						"name": "b",
						"type": "String"
					},
					{
						"name": "lstat",
						"type": "String"
					},
					{
						"name": "medv",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BostonHousing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_country_language')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "csv_folder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "customer_countries_languages.csv",
						"container": "c-businfo702"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Preferred Language",
						"type": "String"
					},
					{
						"name": "Proportion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/csv_folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bank_Dataset')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Bank_Dataset_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BostonHousing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('BostonHousing_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_Azure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DB_Azure_properties_typeProperties_server')]",
					"database": "[parameters('DB_Azure_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('DB_Azure_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DB_Azure_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Azure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DW_Azure_properties_typeProperties_server')]",
					"database": "[parameters('DW_Azure_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('DW_Azure_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DW_Azure_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_folder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('csv_folder_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iris')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('iris_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_DimCustomer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "NWCustomer"
						},
						{
							"dataset": {
								"referenceName": "ds_country_language",
								"type": "DatasetReference"
							},
							"name": "CSVCountryLanguage"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "DW_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "DWDimCustomer"
						}
					],
					"transformations": [
						{
							"name": "CustomerContactNameSplit"
						},
						{
							"name": "CustomerInfo"
						},
						{
							"name": "LookupLanguage"
						},
						{
							"name": "CustomerInfoLanguage"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerID as string,",
						"          CompanyName as string,",
						"          ContactName as string,",
						"          ContactTitle as string,",
						"          Address as string,",
						"          City as string,",
						"          Region as string,",
						"          PostalCode as string,",
						"          Country as string,",
						"          Phone as string,",
						"          Fax as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'Northwind',",
						"     tableName: 'Customers',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> NWCustomer",
						"source(output(",
						"          Country as string,",
						"          {Preferred Language} as string,",
						"          Proportion as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CSVCountryLanguage",
						"NWCustomer derive(CustomerContactFirstName = split(ContactName, ' ')[1],",
						"          CustomerContactLastName = split(ContactName, ' ')[2]) ~> CustomerContactNameSplit",
						"CustomerContactNameSplit select(mapColumn(",
						"          CustomerID,",
						"          CustomerCompanyName = CompanyName,",
						"          CustomerCountry = Country,",
						"          CustomerContactFirstName,",
						"          CustomerContactLastName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CustomerInfo",
						"CustomerInfo, CSVCountryLanguage lookup(CustomerCountry == Country,",
						"     multiple: false,",
						"     pickup: 'first',",
						"     asc(Country, true),",
						"     desc(Proportion, true),",
						"     broadcast: 'auto')~> LookupLanguage",
						"LookupLanguage select(mapColumn(",
						"          CustomerID,",
						"          CustomerCompanyName,",
						"          CustomerContactFirstName,",
						"          CustomerContactLastName,",
						"          CustomerLanguage = {Preferred Language}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CustomerInfoLanguage",
						"CustomerInfoLanguage sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DimCustomer',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWDimCustomer"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]",
				"[concat(variables('factoryId'), '/datasets/ds_country_language')]",
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_DimDate')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "DimDate"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "DW_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "DWDimDate"
						}
					],
					"transformations": [
						{
							"name": "YearFilter"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DateKey as date,",
						"          YearNumber as integer,",
						"          MonthName as string,",
						"          DayOfWeek as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DimDate702',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> DimDate",
						"DimDate filter(between(YearNumber, 1996, 1998)) ~> YearFilter",
						"YearFilter sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DimDate',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWDimDate"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]",
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_DimProduct')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "NWProduct"
						},
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "NWCategory"
						},
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "NWSupplier"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "DW_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "DWDimProduct"
						}
					],
					"transformations": [
						{
							"name": "NWProdCat"
						},
						{
							"name": "SplitDiscontinued"
						},
						{
							"name": "NWProdCatSup"
						},
						{
							"name": "NWProdCatSupActive"
						},
						{
							"name": "AddDummySupplierInfo"
						},
						{
							"name": "NWProdCatSupInactive"
						},
						{
							"name": "NWProdCapSupALL"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          SupplierID as integer,",
						"          CategoryID as integer,",
						"          QuantityPerUnit as string,",
						"          UnitPrice as decimal(19,4),",
						"          UnitsInStock as short,",
						"          UnitsOnOrder as short,",
						"          ReorderLevel as short,",
						"          Discontinued as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'Northwind',",
						"     tableName: 'Products',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> NWProduct",
						"source(output(",
						"          CategoryID as integer,",
						"          CategoryName as string,",
						"          Description as string,",
						"          Picture as binary",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'Northwind',",
						"     tableName: 'Categories',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> NWCategory",
						"source(output(",
						"          SupplierID as integer,",
						"          CompanyName as string,",
						"          ContactName as string,",
						"          ContactTitle as string,",
						"          Address as string,",
						"          City as string,",
						"          Region as string,",
						"          PostalCode as string,",
						"          Country as string,",
						"          Phone as string,",
						"          Fax as string,",
						"          HomePage as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'Northwind',",
						"     tableName: 'Suppliers',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> NWSupplier",
						"NWProduct, NWCategory join(NWProduct@CategoryID == NWCategory@CategoryID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> NWProdCat",
						"NWProdCat split(Discontinued==false(),",
						"     disjoint: false) ~> SplitDiscontinued@(Active, InActive)",
						"SplitDiscontinued@Active, NWSupplier join(SplitDiscontinued@Active@SupplierID == NWSupplier@SupplierID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> NWProdCatSup",
						"NWProdCatSup select(mapColumn(",
						"          ProductID,",
						"          ProductName,",
						"          CategoryName,",
						"          SupplierCompanyName = CompanyName,",
						"          SupplierCountry = Country",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> NWProdCatSupActive",
						"NWProdCatSupInactive derive(SupplierCompanyName = \"None\",",
						"          SupplierCountry = \"NA\") ~> AddDummySupplierInfo",
						"SplitDiscontinued@InActive select(mapColumn(",
						"          ProductID,",
						"          ProductName,",
						"          CategoryName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> NWProdCatSupInactive",
						"NWProdCatSupActive, AddDummySupplierInfo union(byName: true)~> NWProdCapSupALL",
						"NWProdCapSupALL sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'DimProduct',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWDimProduct"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]",
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_FactSale')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "DB_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "NWOrderSummary"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "DW_Azure",
								"type": "LinkedServiceReference"
							},
							"name": "DWFactSale"
						}
					],
					"transformations": [
						{
							"name": "DateTimeToDate"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CustomerID as string,",
						"          ProductID as integer,",
						"          OrderDate as timestamp,",
						"          ShippedDate as timestamp,",
						"          SaleUnits as integer,",
						"          ExpectedSaleValue as decimal(19,4),",
						"          PlannedSaleValue as decimal(19,4),",
						"          DiscountValue as double,",
						"          ActualSaleValue as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'query',",
						"     store: 'sqlserver',",
						"     query: 'SELECT\\n    o.CustomerID,\\n    p.ProductID,\\n    o.OrderDate,\\n    o.ShippedDate,\\n    SUM(od.Quantity) AS SaleUnits,\\n    SUM(od.Quantity*p.UnitPrice) AS ExpectedSaleValue,\\n    SUM(od.Quantity*od.UnitPrice) AS PlannedSaleValue,\\n    SUM(od.Quantity*od.UnitPrice*od.Discount) AS DiscountValue,\\n    SUM(od.Quantity*od.UnitPrice*(1-od.Discount)) AS ActualSaleValue\\nFROM\\n    Northwind.Orders AS o\\nJOIN\\n    Northwind.[Order Details] AS od\\nON\\n    o.OrderID=od.OrderID\\nJOIN\\n    Northwind.Products as p\\nON\\n    od.ProductID=p.ProductID\\nWHERE\\n    ShippedDate IS NOT NULL\\nGROUP BY\\n    o.CustomerID,\\n    p.ProductID,\\n    o.OrderDate,\\n    o.ShippedDate',",
						"     isolationLevel: 'READ_UNCOMMITTED') ~> NWOrderSummary",
						"NWOrderSummary cast(output(",
						"          OrderDate as date,",
						"          ShippedDate as date",
						"     ),",
						"     errors: true) ~> DateTimeToDate",
						"DateTimeToDate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'FactSale',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> DWFactSale"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Azure')]",
				"[concat(variables('factoryId'), '/linkedServices/DW_Azure')]"
			]
		}
	]
}